.card-img-top:hover {
    transform: scale(1.05); 
    transition: transform 0.2s ease; 
}

.head1 h1{

    text-align: center;
    color: hsl(0, 17%, 94%);
    font-size: 50px;
    padding: auto;
    font-family: 'Pixelify Sans', cursive;
}

.head2 h1{

    text-align: center;
    color: #131212;
    font-size: 50px;
    padding: auto;
}



